<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>Hobby : {{ hobby }}</article>
    <article>I go to {{ uni }}</article>
    <article>Pretty much an average person trying to survive</article>
    <article>pic of me and fam:</article>
    <img src = "https://scontent.fcgk4-2.fna.fbcdn.net/v/t31.0-8/17097266_885474188262494_4503413696130429388_o.jpg?_nc_cat=0&oh=e130ce2a178369ffde20046d34e3e060&oe=5C38C5D2" alt="picture of me and fam" width="300" height ="300"/>
    <h1>My friends' profile</h1>
    <h2>Nur Nisrina Ningrum</h2>
    <article>npm: 1706979423</article>
    <article>age: 19</article>
    <article>Hobby: Reading, listening to music, swimming</article>
    <h2>Putu Agas</h2>
    <article>npm: 1706074940</article>
    <article>age: 19</article>
    <article>Hobby: Makan, Berenang, Main games</article>

</body>
</html>
